<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd7b99">  <td>19/07/12 21:58:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseTest.getTime()[pri:0, instance:testcases.BaseTest@30b6ffe0]">getTime</td> 
  <td>main@997850486</td>   <td></td> </tr>
<tr bgcolor="dd7b99">  <td>19/07/12 21:57:47</td>   <td>-18139</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:testcases.BaseTest@30b6ffe0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@997850486</td>   <td></td> </tr>
<tr bgcolor="dd7b99">  <td>19/07/12 21:58:37</td>   <td>31469</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testcases.BaseTest@30b6ffe0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@997850486</td>   <td></td> </tr>
</table>
